@import '../../styles/variables.scss';

.title {
  text-align: center;
  color: $selectColor;
  font-weight: 600;
  font-size: 18px;
  padding:10px 0;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}
