@import "../../styles/variables.scss";

.header {
    background: $dark;
    height: $headerHeight;
    padding: 0 1.5rem;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;
    &__content {
        color: $light;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;
        &__logo {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            color: $light;
        }      
    }
}